.singlepage{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 7%;
}
.singlepage>div{
    height: 500px;
    width: 45%;
    border: 1px solid rgb(18, 18, 18);
}
.single-ls{
    height: 500px;
}