// *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $default-text-color;
  text-decoration: none;
  &:hover{
    color: $default-text-color;
    text-decoration: underline;
    text-decoration-color: $default-text-color;
    -moz-text-decoration-color: $default-text-color;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

li {
  list-style: none;
}