.logout{
    text-decoration: underline;
    text-decoration-color: $default-text-color;
    -moz-text-decoration-color: $default-text-color;
    &:hover{
       color: $default-text-color;
    }
}

.tab{
    border-bottom: 2px solid $border-color;
    color: #484848;
    flex-shrink: 0;
    padding: 0 0.9375rem 0.9375rem 0;
    text-align: left;
    &:hover{
        border-bottom: 2px solid darken($border-color,10);
        color: $default-text-color;
    }
}

.selected{
    border-bottom: 2px solid $blue;
}

.floating-input-holder{
    font-size: 1rem;
    padding-bottom: 0px;
    // height: 30px;
    .edit-input{
        border:none;
        border-radius: 0%;
        border-bottom: solid;
        border-color: black;
        border-width: 1px;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
        position: relative;
        &:focus{
            border-color: #0058A3;
            box-shadow: none;
        }
    }
}

.cancel-change-btn{
    background-color: #f5f5f5;
    border: none;
    height: 3rem;
    margin-bottom:20px;
    &:hover{
        background-color: #dfdfdf;
    }
}
.save-change-btn{
    border: none;
    height: 3rem;
    &:hover{
        background-color: #333333;
    }
}
.order-card{
    @include HandleBoxForEachProduct();
    border: #dddddd solid 1px;
    margin: 2%;
}
.eye{
    position: absolute;
    bottom: 10px;
    margin:0 10px;
    right: 1px;
    color: black;
    z-index: 1;
    cursor: pointer;
}  

.eyeAr{
    position: absolute;
    bottom: 10px;
    margin:0 10px;
    left: 1px;
    color: black;
    z-index: 1;
    cursor: pointer;
}  

.error{
    bottom: 35px;

}