// Font
$default-font-family: 'Noto Sans';
$title-font-size: 1.5rem;
$title-font-weight: 900;
$bold-font-weight: 'bolder';
$medium-text-size: 0.875rem;
$small-text-size: 0.8rem;

// colors
$default-text-color: #111;
$default-background-color: white;
$small-text-color: #484848;
$txt-color: #757575;
$secondary-color: #f5f5f5;
$border-color: #dfdfdf;
$orange: #ca5008;
$blue: #0f58a1;
$body-margin-start: 2.5rem;
$body-margin-end: 2.5rem;
$body-padding-start: 8rem;
$body-padding-end: 4rem;
$overlay-background: rgba(0, 0, 0, 0.5);
