$p-color: #484848;
$span-font: 1.5rem;
$card-font: 0.875rem;
$card-height: 1.42857;
$font-weight: 700;

@mixin theme($border: 3px) {
  letter-spacing: 0;
  font-weight: 400;
  font-size: $card-font;
  line-height: 1.5;
  color: $p-color;
}

@mixin card($border: 3px) {
  border: 0;
  margin: 0 7px;
  line-height: $card-height;
}

// /////right///////////////////////////////////////
section .right {
  margin: 50px 0;
  padding: 22px;
  line-height: 2;
}
section .right .span {
  margin-left: 15px;
}

section .right h4 {
  font-weight: bold;
}

section .right .right-btn button {
  margin: 30px 0;
  font-size: 15px;
  font-weight: bold;
  background-color: #0058a3;
  border-radius: 64px;
  width: 60%;
  height: 3.5rem;
  border: 2px solid #0058a3;
  color: white;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  -ms-border-radius: 64px;
  -o-border-radius: 64px;
}

section .right .right-btn .heart {
  border: 1px solid #dfdfdf;
  font-size: 20px;

  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 17%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

section .right .right-icon {
  color: black;
  font-size: 17px;
  margin: 0 7px;
}

// //////left/////////////////////////////////////////////////////////////

section .left p {
  color: $p-color;
  font-size: 1.25rem;
  line-height: 1.6;
  padding-bottom: 1.5rem;
}

section .left .out-span {
  display: block;
  margin-bottom: 0.5rem;
  color: $p-color;
  line-height: 1.5;
}

section .left .in-span {
  background-color: #111;
  padding: 0.25rem 0.75rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.25;
}

section .left .pro-detail {
  padding: 2.5rem 0;
  align-items: center;
  justify-content: center;
}

section .left .pro-detail span {
  font-size: $span-font;
  font-weight: 700;
}

// //////////slide 1/////////////////////////////////////////////////////////////////

.card {
  @include card();
}

// #slide-one >div {min-height: 300px;}

#slide-one h4,
h5 {
  font-size: $card-font;
  line-height: $card-height;
  font-weight: $font-weight;
}

#slide-one .card p {
  @include theme();
}
#slide-one .card .card-span {
  font-weight: $font-weight;
  font-size: 1.375rem;
}

// /////////slide 2//////////////////////////////////////////////////////////////////

#slide-two-h2 {
  font-size: $span-font;
  font-weight: $font-weight;
  line-height: 1.45;
  letter-spacing: -0.0042em;
}

#slide-two h4,
h5 {
  font-size: $card-font;
  line-height: $card-height;
  font-weight: $font-weight;
}

#slide-two .card p {
  @include theme();
}
#slide-two .card .card-span {
  font-weight: $font-weight;
  font-size: 1.375rem;
}

#slide-two #card-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: #0058a3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #0058a3;
  color: white;
}

// ///////////slide 3////////////////////////////////////////////////////////////////////////

#slide-three-h2 {
  font-size: $span-font;
  font-weight: $font-weight;
  line-height: 1.45;
  letter-spacing: -0.0042em;
}

#slide-three .card h5 {
  font-size: $card-font;
  line-height: $card-height;
  font-weight: $font-weight;
}

#slide-three .card h4 {
  font-size: 0.875rem;
  line-height: $card-height;
  font-weight: $font-weight;
}

#slide-three .card p {
  @include theme();
}
#slide-three .card .card-span {
  font-weight: $font-weight;
  font-size: 1.375rem;
}

// ///////////////////////////////////////////////////////////////////////////////////////////

.card img {
  position: relative;
}

.top-seller {
  position: absolute;

  font-weight: $font-weight;
  color: white;
  background-color: #e00751;
}

#slide-two #slide-arrow-right {
  position: absolute;
  top: 200px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: rgb(48, 46, 46);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 35px;
}

.filter-acc {
  background-color: white !important;
  border: 0 !important;
  color: black !important;
}